@{
    ViewBag.Title = "Contact";
}

<h2>@ViewBag.Title</h2>

<div class="jumbotron">
    <p>Developed by Jacek Noga</p>
    <p>Github account: <a href="https://github.com/jacor1996/fuzzy-pancake">link</a></p>
    <p>E - mail: jaceknoga11[at]gmail.com</p>
</div>
