@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <p><b>Welocme to fuzzy-pancake app!</b></p>
    
    <text>You can browse, edit or add your meals and then add them to your daily plan.
        The app will compute your daily calorie intake and allow you to control your diet.
    You can also browse, add or manage your activities, so you know how mach calories have you already burned.
    </text>
    
</div>
